@model IEnumerable<cremas.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

</table>
<div class="row">
     
@foreach (var item in Model)
{
    <div class="col-md-4">

        <div class="card shadow" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(modelItem => item.name)
                </h5>

                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })

                <a href="#" class="btn btn-primary">Go somewhere</a>

            </div>
        </div>
    </div>
     }
    
</div>